@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
}

body {
  background-color: var(--primary);
}

@font-face {
  font-family: QS-M;
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: QS-B;
  src: url(../fonts/Quicksand-Bold.ttf);
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.068);
}

body ::-webkit-input-placeholder {
  color: white;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
